@using Microsoft.AspNetCore.Components.Authorization

<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <NotAuthorized>
                @if (context.User.Identity?.IsAuthenticated != true)
                {
                    <RedirectToLogin />
                }
                else
                {
                    <p class="text-center p-lg">Bu sayfaya erisim yetkiniz bulunmamaktadir.</p>
                }
            </NotAuthorized>
            <Authorizing>
                <div class="flex items-center justify-center" style="min-height: 100vh;">
                    <div class="spinner spinner-lg"></div>
                </div>
            </Authorizing>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
</Router>
